@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Symbols&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans Symbols', sans-serif;
}

body {
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #333;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url('../images/novelas.png');
    background-position: left;
    background-size: cover;
}



.progress {
    height: 10px;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
}

.progress--bar {
    background-color: rgb(194, 63, 96);
    height: 100%;
    transition: all ease .5s;
    border-radius: 10px;
}

.questionArea,
.scoreArea {
    display: none;
    margin-top: 200px;
    
}

.questionArea {
    max-width: 500px;
    width: 100%;
}

.question {
    color: #FFF;
    font-size: 18px;
    margin: 20px 0;
    text-align: center;
    background-color: rgb(194, 63, 96);
    padding: 10px;
    border-radius: 15px;
}

.option {
    display: flex;
    align-items: center;
    height: 40px;
    background-color: rgba(194, 63, 96, 1.0);
    border-radius: 10px;
    margin-bottom: 5px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

.option span {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    margin-left: 5px;
    margin-right: 10px;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
}

.option:hover {
    background-color: rgba(194, 63, 96, 0.9);
    ;
}

.scoreArea {
    background-color: rgb(194, 63, 96);
    padding: 20px;
    border-radius: 20px;
    margin: 10px;
    text-align: center;
}

.prizeImage {
    width: auto;
    height: 100px;
    margin-bottom: 10px;
}

.scoreText1 {
    color: #000;
    font-size: 23px;
    font-weight: bold;
    margin-bottom: 10px;
}

.scorePct {
    color: #0d630d;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 10px;
}

.scoreText2 {
    font-size: 16px;
    color: #000;
    margin-bottom: 10px;
}

.scoreArea button {
    border: 0;
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 10px;
    margin-top: 20px;
    cursor: pointer;
}

.scoreArea button:hover {
    background-color: rgba(224, 205, 210, 0.3);
}

footer {
    margin-top: 20px;
    color: #FFF;
    font-size: 11px;
    background-color: rgb(194, 63, 96);
    padding: 10px;
    border-radius: 10px;
}

footer a {
    color: rgba(255, 255, 0, 0.774);
    font-weight: bolder;

}